@charset "utf-8";
/*common*/
.clearfix:after{content:""; display:block; clear:both;}
*{margin:0; padding:0; }
body{min-width:640px; }

.header{width:100%; }
.long_blue{width: 100%; background: #0044af;}

.gnb{width:1200px; margin:0 auto;  }
.gnb_box{float:left;}

.main_gnb{background: #00163b;}
.main_gnb li{float: left; text-align: center; border-right:2px solid #0044af; }
.main_gnb li:last-child{border-right: none;}
.main_gnb li:hover{background: #fff; }
.main_gnb li a{display: block; color:#fff; padding:0 40px;line-height: 40px;}
.main_gnb li:hover a{color:#6b6b6b;}

.sub_gnb{float: right;padding-top:10px; }
.sub_gnb li{float: left; margin-right:10px; }
.sub_gnb li:last-child{margin-right: 0;}
.sub_gnb li a{ color:#fff; font-size:12px; }

.sub_gnb div.zoom-in,.sub_gnb div.zoom-out{float: left;width: 16px;height: 16px;}
.sub_gnb div.zoom-out{margin-right:3px;}
.sub_gnb div.zoom-in a, .sub_gnb div.zoom-out a{
    display: block; color: #9b9b9b; width: 16px; height: 16px; background: #fff; font-weight: bold; text-align: center; 
}


.menu{width:1200px; height: 117px; margin: 0 auto;}
.logo{float: left; padding-top: 32px; }
.menu_box{float: right;}
.main_menu{float: left;}

.main_menu li{float: left; margin-right: 50px; line-height: 117px; }

.toggle_buttons{float: right; padding-top: 35px; padding-bottom: 37px;}
.main_toggle_btn{display: block; width: 45px; height: 45px; text-indent: -99999px; background:url(../img/main_toggle_btn.png) no-repeat; cursor:pointer; }
.login_toggle_btn{display: block; width: 45px; height: 45px; text-indent: -99999px; background:url(../img/login_toggle_btn.png) no-repeat; cursor:pointer;  }
.main_toggle{float: left;}
.login_toggle{float: left;}

/*contents*/
#contents{
    height: 1300px; background-image: url(../img/bg_dot.gif),url(../img/main_bg.jpg); background-repeat: no-repeat; background-position:center; background-size: auto, cover;
}


/*contents*/
#contents{
    height: 1300px; background-image: url(../img/bg_dot.gif), url(../img/main_bg.jpg); background-repeat: repeat, no-repeat; background-position:center; background-size:auto, cover; padding: 100px 0;}

#contents .titleWrap{width: 1200px; height: 260px; background: violet; margin:0 auto; margin-bottom: 50px;}

#contents .container{width: 1200px; margin: 0 auto; background: #fff;}

#contents .container>ul>li{float: left; width: 25%; height: 225px; }
#contents .container>ul>li:nth-child(2n){background: pink;}

#contents .container>ul>li:nth-child(1){width:75%; height: 450px; background: gray;}
#contents .container>ul>li:nth-child(2){height: 450px;}
#contents .container>ul>li:nth-child(3){}
#contents .container>ul>li:nth-child(4){}
#contents .container>ul>li:nth-child(5){}
#contents .container>ul>li:nth-child(6){background: red;}
#contents .container>ul>li:nth-child(7){}
#contents .container>ul>li:nth-child(8){width: 75%;}



















